@import "tailwindcss";

@theme {
  --color-primary: #009900;
  --color-accent: #ffc107;
  --color-dark-grey: #333333;
  --color-light-grey: #e0e0e0;
  --color-background-light: #f6f8f6;
  --color-background-dark: #101622;

  --font-display: "Lexend", sans-serif;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1.25rem;
}

@custom-variant dark (&:where(.dark, .dark *));
